html{
    margin: 0 10%;
}

img{
    width:150px;
}

svg.bi-chevron-right, svg.bi-chevron-left{
    color: black;
}

#message-form{
    height: 100px;
}

form.contact-us{
    width:50%;
}

div.cartitaDos, #containerBox{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
div.cartitaTres{
    width:15rem;
}

div.details-carta{
    width:50%;
}

.imagen-details{
    width:100%;
}

#category{
    flex-basis: 200px;
    flex-grow: 2;    
}

#category>label{
    display: flex;
    
}



@media screen and (min-width: 768px) {
    #navbarNavAltMarkup{
        display:flex;
        justify-content: end;
    }
    #category{
        display: flex;
        justify-content: space-around;
    }
}
